$background1: #FFFFFF;
$whitenonchange: #FFFFFF;
$background2: #110038;
$placeholdercolor1: #b4b4b4;
$placeholdercolor2: $background2;
$backgroundbutton1: #4180f6;
$backgroundbutton2: #ee3efe;
$borderbutton: #4c2f99;
$gradient1: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$gradient2: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$fontgeneralreg: 400;
$fontgeneralbold: 700;
$buttonpink: #F7C9F3;
$buttonpinkborder: #110038;
$graywindow: #E6E6E6;
$graywindow2: #EE3EFE;
$border80: #808080;
$border97: #979797;
$buttonHover: #E6BBE2;


$boton-normal-background: #F7C9F3;
$normal-border: #110038;
